// use this file to declare some custom variables like $brand-secondary that
// do not appear in Bootstrap's original _variables.scss file. For the latter user _bootstrap-override.scss

$default-border: 1px solid #000;

$device-border: $default-border;
$device-padding: 10px;
$device-margin: 15px;
