#hallway-station {
	.hallway-station-name {
		margin-bottom: 0;
	}
	.hallway-station-lamp {
		border: $device-border;
		content: "";
		border-radius: 50%;
		display: inline-block;
		margin-top: calc(25px / 2);
		width: 25px;
		height: 25px;
		i {
			margin-top: 3px;
		}
	}
}
