*
!*/
!/README.md
!/.gitignore
!/.htaccess
!/composer.json
!/composer.lock
!/web/favicon.ico
!/web/robots.txt
!/Sass/**
!/web/assets/Javascripts/**
!/web/assets/Fonts/**
!/web/assets/Images/**
!/.editorconfig
!/gulpfile.js
!/package.json
!/web/*.php
!/web/**/*.html
/web/assets/**/*.css
