// General regular device
.device {
	padding: $device-padding;
	border: $device-border;
	margin-bottom: $device-margin;
	text-align: center;
	.device-signal {
		border: $device-border;
		content: "";
		border-radius: 50%;
		display: inline-block;
		width: 50px;
		height: 50px;
		i {
			margin-top: 15px;
		}
	}
}
